<% include partials/header %>

    <h1 id="title">codeSnip</h1>
    <div class="container">
		<div class="landing-background">
            <h1>Login</h1>
            <form>
                <div class="form-group">
                    <!-- //email -->
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <!-- //password -->
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <!-- //submit
                <button type="submit" class="btn">Submit</button> -->
            </form>
			<button type ="submit" onclick="window.location.href = '/snips';" class="btn">Go</button>
		</div>
    </div>

<% include partials/footer %>