<% include partials/header %>

<div class="container">
	<h1><%= snippet.title %></h1>
	<p><%= snippet.code %></p>
	<h2><%= snippet.comment %></h2>
</div>

<a href="/snips">Snips</a>

<% include partials/footer %>